/* .cardP >  div:nth-child(2) > div:nth-child(1){
display: flex;
/* width: 40%; */
/* gap: 1rem;
font-size: 20px;
}  */
.cardP {
    width: 70vw;
    margin: auto;
}
.cardP >  div:nth-child(2) {
width: 100%;
}
.cardP >  div:nth-child(2) > div{
/* width: 40%; */
display: flex;
gap: 1rem;
font-size: 22px;
font-weight: 600;
width: 100%;
}
/* .cardP >  div:nth-child(2) > div  > p:nth-child(1){
    text-align: left;
    width: 20%;
}
.cardP >  div:nth-child(2) > div  > p:nth-child(2){
    text-align: left;
    width: 80%;
} */
.cardP >  div:nth-child(2) > div > div{
/* width: 40%; */
display: flex;
flex-wrap: wrap;
gap:0px  1rem;
font-size: 22px;
font-weight: 600;
}