.Parent {
  font-weight: 600;
  background-color: #f6f6f6;
  padding: 2rem 0px;
  position: relative;
}

.Parent > p:nth-child(1) {
  font-family: "prata";
  font-size: 42px;
  text-align: center;
}

.Parent > div:nth-child(2) {
  font-family: "Open Sans";
  width: 50%;
  margin: 1rem auto;
  background-color: #8a2be2;
  color: rgb(255, 255, 255);
  border: 1 solid rgb(0, 0, 0);
  font-weight: 600;
}
.Parent > div:nth-child(2):hover {
  /* color: black; */
  border: 1 solid black;
  font-weight: 600;
}

.CreateE {
  margin: auto;
  width: 70%;
  padding: 4rem 1rem;
  background-color: #e4e4e4;
  border-radius: 6px;
  display: none;
  position: fixed;
  top: 15%;
  left: 15%;
}

@media (max-width: 750px) {
  .CreateE {
    width: 95%;
    position: fixed;
    left: 2.5%;
    top: 15%;
  }
}
.CreateE input {
  font-size: 20px;
  font-family: "Open Sans";
}

.eventContainer {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  position: relative;
}

@media (max-width: 600px) {
.eventContainer {
  width: 95%;
}
}

.eventHeading {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.eventDetail {
  display: grid;
  gap: 10px;
  width: 90%;
}

.eventItem {
  font-size: 20px;
  line-height: 1.5;
}
.eventItem dt{
margin-top: 1rem;
}
